html {
    scroll-behavior: smooth;
    font-family: "Geometria";
    font-weight: 500;
}

body {
    position: relative;
    background-color: $low;
    cursor: default;
    overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
    background-color: $low;
}

body::-webkit-scrollbar-track {
    background-color: $primary;
}

body::-webkit-scrollbar {
    width: 10px;
}

.apply-btn {
    margin-top: 20px;
    width: 25%;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    .header-row {
        display: flex;
        align-items: center;
        padding: 10px 70px;
        width: calc(100% - 140px);

        &--fixed {
            background-color: $dark;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }

        &--static {
            top: 100px;
            left: 0;
            position: absolute;

            z-index: 99;
        }

        .header-logo {
            margin-right: 10px;

            img {
                width: 150px;
                height: 60px;
            }
        }

        .header-caption {
            font-size: 24px;
            line-height: 28px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            margin-right: auto;
        }

        .header-address {
            display: flex;
            align-items: center;
            margin-right: 50px;

            .address-logo {
                img {
                    width: 40px;
                    height: 40px;
                }

                margin-right: 20px;
            }

            .address-value {
                font-size: 22px;
                color: #fff;
                line-height: 26px;
                font-weight: 500;
            }
        }

        .header-phone {
            display: flex;
            align-items: center;
            margin-right: 50px;

            .phone-logo {
                img {
                    width: 40px;
                    height: 40px;
                }

                margin-right: 20px;
            }

            .phone-value {
                font-size: 22px;
                color: #fff;
                line-height: 26px;
                font-weight: 500;
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    color: $primary;
                }
            }
        }

        .header-navigation {
            display: flex;
            margin-right: auto;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                line-height: 26px;
                margin-right: 20px;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.main {
    &--greeting {
        width: 100%;
        height: 100vh;
        position: relative;

        .swiper {
            width: 100%;
            height: 100%;
            overflow-x: hidden;

            .swiper-wrapper {
                width: 100%;
                height: 100%;

                .swiper-slide {
                    width: 100%;
                    height: 100%;

                    .slider-container {
                        display: flex;
                        flex-direction: column;
                        padding: 0 70px;
                        width: calc(100% - 140px);
                        height: 100%;
                        align-items: start;
                        justify-content: center;

                        .header {
                            font-size: 52px;
                            font-weight: 700;
                            line-height: 65px;
                            text-transform: uppercase;
                            color: #fff;
                            width: 50%;
                        }

                        .subheader {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                            text-transform: uppercase;
                            color: #c5c5c5;
                            width: 40%;
                            margin-top: 20px;
                        }


                    }

                    .container--kardan {
                        background: linear-gradient(360deg, #212021b5 0%, #655CFF49 100%), url(./assets/images/content/main_bg4.png);
                        background-size: cover;
                    }

                    .container--rotor {
                        background: linear-gradient(360deg, #212021b5 0%, #655CFF49 100%), url(./assets/images/content/main_rotor.jpg);
                        background-size: cover;
                    }

                    .container--turbo {
                        background: linear-gradient(360deg, #212021b5 0%, #655CFF49 100%), url(./assets/images/content/main_turbo.jpg);
                        background-size: cover;
                    }

                    .container--shop {
                        background: linear-gradient(360deg, #212021b5 0%, #655CFF49 100%), url(./assets/images/content/main_bg4.png);
                        background-size: cover;
                    }
                }
            }

            .swiper-pagination {
                left: 70px;
                width: fit-content;
                bottom: 20px;

                .swiper-pagination-bullet {
                    width: 40px;
                    height: 10px;
                    border-radius: 0;
                    background-color: rgba($color: #fff, $alpha: 0.5);
                }
            }

            .swiper-navigation {
                right: 70px;
                width: fit-content;
                bottom: 30px;
                position: absolute;
                display: flex;

                .swiper-button-prev {
                    border-radius: 0;
                    width: 40px;
                    height: 40px;
                    border: 3px solid #fff;
                    position: relative;
                    margin-right: 40px;
                    background-image: none;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    transition: all 0.3s ease;

                    &::after {
                        content: "";
                        width: 15px;
                        height: 15px;
                        border-top: 3px solid #fff;
                        border-left: 3px solid #fff;
                        transform: rotate(-45deg);
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 5px;
                        bottom: 0;
                        margin: auto;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        border: 3px solid $primary;

                        &::after {
                            border-top: 3px solid $primary;
                            border-left: 3px solid $primary;
                        }
                    }
                }

                .swiper-button-next {
                    border-radius: 0;
                    width: 40px;
                    height: 40px;
                    border: 3px solid #fff;
                    position: relative;
                    background-image: none;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    transition: all 0.3s ease;

                    &::after {
                        content: "";
                        width: 15px;
                        height: 15px;
                        border-top: 3px solid #fff;
                        border-right: 3px solid #fff;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 0;
                        right: 5px;
                        left: 0;
                        bottom: 0;
                        margin: auto;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        border: 3px solid $primary;

                        &::after {
                            border-top: 3px solid $primary;
                            border-right: 3px solid $primary;
                        }
                    }
                }
            }
        }
    }
}