footer.footer#toFooter 
    .footer-row.footer-row--expanded 
        .logo-container
            a(href="#toMain") 
                img.logo#toMain(src="./assets/images/content/logo_custom.svg", alt="Company Logo")
            span.logo-caption Кардан Сервис
        .mobile-container.mobile-container--second-to-column
            .navigation
                a.navigation-link(href="./articles.html") Услуги
                a.navigation-link(href="./shop.html") Магазин
                a.navigation-link(href="./contact.html") Контакты
            .mobile-container.mobile-container--first-to-column
                .contacts 
                    a(href="tel:+74951864203") +7 (495) 186-42-03 
                    .address ул. Сурнова, 22
                .apply 
                    .apply-btn.apply-btn--footer Оставить заявку
    .footer-row 
        .company-info
            span.company-name ©2019–2022 Кардан Сервис
            span.company-privacy Политика конфиденциальности
        .developer-info Сделано в Freidman Solutions
        