header.header 
    .logo-container
        a(href="#toMain") 
            img(src="./assets/images/content/logo_custom.svg", alt="Company Logo").logo#toMain
        span.logo-caption Кардан Сервис
    .navigation
        a.navigation-link(href="./articles.html") Услуги
        a.navigation-link(href="./shop.html") Магазин
        a.navigation-link(href="./contact.html") Контакты
    .contacts 
        a(href="tel:+74951864203") +7 (495) 186-42-03 
        .address ул. Сурнова, 22
    .apply 
        .apply-btn#headerApply  Оставить заявку
.mobile-header
    .logo-container
        a(href="#toMain") 
            img(src="./assets/images/content/main_logo.svg" alt="Company Logo").logo#toMain
        span.logo-caption Кардан Сервис
    .mobile-header__burger-menu
        span.cross-one--mobile 
        span.cross-two--mobile
        span.cross-left
.mobile-menu#mobileNavigation