doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo_custom.svg", type="image/x-icon")
        title Кардан-сервис: главная страница
    body 
        main.main
            .main--greeting
                .swiper.swiper-greeting#greetingSwiper
                    .swiper-wrapper 
                        .swiper-slide 
                            .slider-container.container--kardan
                                .header Ремонт и изготовление карданных валов
                                .subheader Наши мастера выявят все дефекты и устранят их
                                .apply-btn Оставить заявку
                        .swiper-slide 
                            .slider-container.container--rotor
                                .header Балансировка и обслуживание роторов
                                .subheader Наши мастера выявят все дефекты и устранят их
                                .apply-btn Оставить заявку
                        .swiper-slide 
                            .slider-container.container--turbo
                                .header Ремонт и обслуживание турбин
                                .subheader Наши мастера выявят все дефекты и устранят их
                                .apply-btn Оставить заявку
                        .swiper-slide 
                            .slider-container.container--shop
                                .header Наш интернет-магазин
                                .subheader Узнайте, какие услуги актуальные и сколько они стоят
                                .apply-btn Перейти