$primary: #C60C29;
$primary_hover: #918BFF;
$primary_active: #655CFF;
$additional: #D8D6FF;
$gradient_dark: linear-gradient(90deg, #bb240d -0.03%, #212021 100%);
$gradient_light: linear-gradient(90deg, rgba(115, 107, 255, 0.15) -0.03%, rgba(181, 107, 255, 0.15) 100.03%);
// Темные цвета
$main: #333336;
$main_additional: #4D4D52;
$disabled: #AAAAB6;
// Светлые цвета
$low: #F8F7FF;
$mid: #F3F2FF;
$high: #E7E6F2;
$dark: #212021;
$red: #DC143C;